
  <!-- form con ngmodel -->
<!-- <section>
  <form class="form" (ngSubmit)="onSubmit()">
    <label>Id</label>
    <input type="text" name="id" [(ngModel)]="id" />

    <label>Title</label>
    <input type="text" name="title" [(ngModel)]="title" />

    <label>State</label>
    <input type="text" name="state" [(ngModel)]="state" />

    <label>Url</label>
    <input type="text" name="url" [(ngModel)]="url" />

    <label>Created_at</label>
    <input type="text" name="created_at" [(ngModel)]="created_at" />

    <label>Updated_at</label>
    <input type="text" name="updated_at" [(ngModel)]="updated_at" />
  </form>
</section> -->
